body{
  background-color: #E5F6DF;
  font-family: 'Josefin Sans', sans-serif;
}
#challenge{
    background-color: rgba(253, 252, 252, 0.5);
    width: 40%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(94, 89, 89);
    padding: 5px 5px;
}
#name{
    text-align: center;
    color: black;
    font-size: 50px; 
}
#name:hover{
    text-decoration: underline;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.boat{
    height: 400px;
    width: 400px;
    padding-top: 50px;
}
